In [38]:
import os
import pandas as pd

In [39]:

datafile = pd.read_csv('file1.csv')
datafile.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,43.27457,-79.79796,340.37,0.39,0.59,2015-01-01,633,N,VIIRS,n,2,270.37,2.74,N,3
1,42.80918,-80.09424,297.96,0.40,0.60,2015-01-01,633,N,VIIRS,n,2,264.79,0.86,N,0
2,42.80359,-80.09471,297.19,0.40,0.60,2015-01-01,633,N,VIIRS,n,2,265.25,1.34,N,0
3,42.80378,-80.09975,308.10,0.40,0.60,2015-01-01,633,N,VIIRS,n,2,265.67,1.34,N,0
4,42.80399,-80.10481,320.20,0.40,0.60,2015-01-01,633,N,VIIRS,n,2,265.79,2.74,N,0

In [40]:
datafile.tail()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
4597474,55.23798,-117.14445,356.60,0.45,0.63,2025-02-28,2135,N,VIIRS,n,2,281.45,150.29,D,0
4597475,55.23789,-117.15911,333.89,0.45,0.63,2025-02-28,2135,N,VIIRS,n,2,271.17,18.11,D,0
4597476,55.23803,-117.13705,358.33,0.45,0.63,2025-02-28,2135,N,VIIRS,l,2,272.05,51.59,D,0
4597477,57.03927,-117.92989,347.79,0.42,0.61,2025-02-28,2135,N,VIIRS,n,2,277.58,3.94,D,0
4597478,57.03889,-117.93240,340.93,0.42,0.61,2025-02-28,2135,N,VIIRS,n,2,277.97,4.77,D,0

In [41]:
datafile.shape

(4597479, 15)

In [42]:
datafile.describe()

,latitude,longitude,brightness,scan,track,acq_time,version,bright_t31,frp,type
count,4.597479e+06,4.597479e+06,4.597479e+06,4.597479e+06,4.597479e+06,4.597479e+06,4597479.0,4.597479e+06,4.597479e+06,4.597479e+06
mean,5.696773e+01,-1.125536e+02,3.273051e+02,4.600867e-01,4.755049e-01,1.411828e+03,2.0,2.905344e+02,1.513558e+01,9.455595e-02
std,4.845326e+00,1.424286e+01,2.169933e+01,8.761131e-02,1.160783e-01,5.299970e+02,0.0,1.249603e+01,3.900645e+01,4.970436e-01
min,4.175556e+01,-1.410045e+02,2.080000e+02,3.200000e-01,3.600000e-01,4.230000e+02,2.0,1.500000e+02,-1.900000e+00,0.000000e+00
25%,5.319460e+01,-1.215175e+02,3.071300e+02,3.900000e-01,3.800000e-01,9.430000e+02,2.0,2.834600e+02,1.860000e+00,0.000000e+00
50%,5.716131e+01,-1.159804e+02,3.289300e+02,4.400000e-01,4.300000e-01,1.111000e+03,2.0,2.889400e+02,4.320000e+00,0.000000e+00
75%,6.025292e+01,-1.067523e+02,3.438600e+02,5.100000e-01,5.600000e-01,2.000000e+03,2.0,2.969100e+02,1.163000e+01,0.000000e+00
max,8.256747e+01,-5.266533e+01,3.670000e+02,8.000000e-01,7.800000e-01,2.346000e+03,2.0,3.893800e+02,4.191100e+03,3.000000e+00

In [43]:
datafile.columns

Index(['latitude', 'longitude', 'brightness', 'scan', 'track', 'acq_date',
       'acq_time', 'satellite', 'instrument', 'confidence', 'version',
       'bright_t31', 'frp', 'daynight', 'type'],
      dtype='object')

see the notes about each coloumn in ReadmE.TXT

In [44]:
count = datafile.isna().sum()
count

latitude      0
longitude     0
brightness    0
scan          0
track         0
acq_date      0
acq_time      0
satellite     0
instrument    0
confidence    0
version       0
bright_t31    0
frp           0
daynight      0
type          0
dtype: int64